html, body {
    background-color: #FFFFFF;
    color: #212121;
}

/* Navbar */
.navigationBar {
    margin-bottom: 20px;
}

.navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #455A64;
}

.navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationBar li a:hover {
    background-color: #CFD8DC;
}

.navigationBar .active {
    background-color: #4CAF50;
}

.navLeft li {
    float: left;
}

.navRight {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 8px;
}

.navRight li {
    float: right;
}

/* Main */

.content {
    width: 80%;
    margin: auto;
    border: 1px solid #CFD8DC;
    border-radius: 5px;
    height: 70vh;
    padding: 40px 40px 40px 40px;
}

.content h1 {
    border-bottom: 1px solid #CFD8DC;
}

.grid {
    display: flex;
}

.msg {
    width: 30%;
    padding: 10px;
    color: white;
    margin-bottom: 15px;
}

.msg-success {
    background-color: #4CAF50;
    opacity: 0.83;
}

.msg-error {
    background-color: #f44336;
    opacity: 0.83;
}

.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0 20px 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 21px 36px;
    border: none;
    border-radius: 4px;
}

/* Quiz buttons */

.quiz-btn {
    color: white;
    padding: 21px 36px;
    margin: 0 30px 30px 30px;
    border: none;
    border-radius: 4px;
}

.quiz-answers {
    background-color: #455A64;
}

.quiz-selected {
    background-color: #607D8B;
}

.quiz-unclickable {
    background-color: #CFD8DC;
    color: black;
}

.quiz-correct {
    background-color: #4CAF50;
    opacity: 0.83;
}

.quiz-wrong {
    background-color: #f44336;
    opacity: 0.83;
}


.quiz-selected:hover, .quiz-unclickable:hover, .quiz-correct:hover, .btn-wrong:hover {
    cursor: default;
}

.input-form {
    width: 30%;
}

.input-form input[type=text], input[type=password], input[type=range], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
