html, body {
    background-color: #ffffff;
}
/* Navbar */

.navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #4C5B61;
}

.navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationBar li a:hover {
    background-color: #111;
}

.navigationBar .active {
    background-color: #F78764;
}

.navLeft li {
    float: left;
}

.navRight {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 8px;
}

.navRight li {
    float: right;
}

/* Main */

.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
}

.btn-login {
    background-color: #F78764;
}
